<!DOCTYPE html>
<html>
  <head>
    <title>Pixi Invaders</title>

    <meta
      id="viewport"
      name="viewport"
      content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,600&family=Press+Start+2P&display=swap");

      * {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      body {
        background: #313749;
        font-family: "Montserrat", sans-serif;
        color: rgb(225, 225, 225);
      }

      h3 {
        color: rgb(238, 172, 255);
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1rem auto;
      }

      #pixi-content {
        background: #21324b;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      #pixi-canvas {
        image-rendering: pixelated;
      }

      #pixi-content .info {
        margin-top: 0.5rem;
      }

      #pixi-content .info .key {
        padding: 3px 8px;
        background-color: grey;
        color: white;
        border-radius: 3px;
        border: 1px solid #999;
        display: inline-block;
        font-family: Consolas, "Lucida Console", Monaco, "Courier New",
          monospace;
      }
    </style>
  </head>

  <body>
    <noscript
      >Please enable JavaScript in your web browser to view this page.</noscript
    >
    <div id="pixi-content">
      <h3>What a game!</h3>
      <canvas id="pixi-canvas"></canvas>
      <div class="info">
        <p>
          Pilot your ship with the <span class="key">↑</span>,
          <span class="key">↓</span>, <span class="key">←</span>,<span
            class="key"
            >→</span
          >
          or <span class="key">W</span>, <span class="key">A</span>,
          <span class="key">S</span>, <span class="key">D</span> keys.
        </p>
        <p>
          Shoot with <span class="key">space</span> or
          <span class="key">Mouse Left</span>
        </p>
        <p>You have 3 lives.</p>
      </div>
    </div>
  </body>
</html>
